<footer class="footer-institucional pt-4 pb-5">
                        <div class="container-fluid text-center">
                            <div class="d-flex flex-wrap justify-content-center align-items-center gap-4 gap-md-5">
                                <img src="{{ROOT}}media/logos/logo-icict.png" alt="ICICT"
                                    class="footer-logo">
                                <img src="{{ROOT}}media/logos/fiocruz-campus-virtual.png" alt="Campus Virtual Fiocruz"
                                    class="footer-logo">
                                <img src="{{ROOT}}media/logos/logo-fiocruz.png" alt="Fiocruz"
                                    class="footer-logo">
                                <img src="{{ROOT}}media/logos/logo-sus.png" alt="SUS"
                                    class="footer-logo">
                                <img src="{{ROOT}}media/logos/logo-ministerio-saude-.jpg" alt="Ministério da Saúde"
                                    class="footer-logo">
                            </div>
                        </div>
                    </footer>
                    <!-- ================= FIM DO RODAPÉ ================= -->